
{{/* Get reference information */}}
{{/* ------------------------- */}}

{{/* Get site ref information */}}
{{ $data := false }}
{{ $webmentionClass := false }}

{{/* Bookmarks */}}
{{ if and (eq .Params.sub_type "bookmark") .Params.bookmark_of }}
	{{ $data = dict "url" .Params.bookmark_of }}
	{{ if .Site.Data.refs }}
		{{ $data = index .Site.Data.refs (md5 .Params.bookmark_of) | default $data }}
	{{ end }}
	{{ $webmentionClass = "u-bookmark_of" }}
{{ end }}

{{/* Likes */}}
{{ if and (eq .Params.sub_type "like") .Params.like_of }}
	{{ $data = dict "url" .Params.like_of }}
	{{ if .Site.Data.refs }}
		{{ $data = index .Site.Data.refs (md5 .Params.like_of) | default $data }}
	{{ end }}
	{{ $webmentionClass = "u-like-of" }}
{{ end }}


{{/* Reposts */}}
{{ if and (eq .Params.sub_type "repost") .Params.repost_of }}
	{{ $data = dict "url" .Params.repost_of }}
	{{ if .Site.Data.refs }}
		{{ $data = index .Site.Data.refs (md5 .Params.repost_of) | default $data }}
	{{ end }}
	{{ $webmentionClass = "u-repost-of" }}
{{ end }}

{{/* Replies */}}
{{ if and (or (eq .Params.type "reply") (eq .Params.sub_type "reply"))  .Params.in_reply_to }}
	{{ $data = dict "url" .Params.in_reply_to }}
	{{ if .Site.Data.refs }}
		{{ $data = index .Site.Data.refs (md5 .Params.in_reply_to) | default $data }}
	{{ end }}
	{{ $webmentionClass = "u-in-reply-to" }}
{{ end }}

{{
	return (dict
		"data" $data
		"webmentionClass" $webmentionClass
	)
}}
