
@import "tokens/colors";
@import "tokens/layout";
@import "tokens/spacing";
//@import "tokens/typography";
@import "shared/typography";
@import "components/social-feed";
@import "components/webmention-form";

ins {text-decoration:none; background-color:yellow;}
.dark ins {text-decoration:none; background-color:green;}

.card-simple{
    margin-top: var(--spacing-half-line);
}

.card-simple:first-of-type {
    margin-top: var(--spacing-line);
}

.p-summary{
    margin-bottom: var(--spacing-three-quarter-line);
    font-style: italic;
}
