{{- define "main" -}}

{{- /* Gather together all the content information */ -}}
{{- /* ------------------------------------------- */ -}}

<article class="article h-entry" itemscope itemtype="http://schema.org/Article">

  {{ partial "page_header.html" . }}

  <div class="article-container">

    {{ $summary := "" }}
    {{ if .Params.summary }}
      {{ $summary = .Params.summary | markdownify | emojify }}
      <div class="p-summary article-style" itemprop="articleSummary">
        <p>{{ $summary }}</p>
      </div>
    {{end}}
    {{ if eq .Type "reply"}}
    <div>
      <p>Responding to</p>
      {{ partial "content/notes/citation.html" . }}
    </div>
    {{end}}
    <div class="article-style e-content" itemprop="articleBody">
      {{ .Content }}
    </div>
    {{ partial "page_footer" . }}

  </div>
</article>

{{- end -}}
