/* 
   adapted from work by Rowan Manning
   https://github.com/rowanmanning/rowanmanning.com
   https://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_GB
*/

// Base typography placeholder
%base-typography {
    /*
	color: var(--color-content-text);
	font-family: var(--font-family-body);
	font-size: var(--font-size-body);
	line-height: var(--line-height-body);
    */
}