{{ $provider := trim (site.Params.features.comments.provider | lower) " " }}
{{ if $provider }}
  {{ $provider_tpl := printf "partials/comments/%s.html" $provider }}
  {{ $provider_exists := templates.Exists $provider_tpl }}
  {{ if not $provider_exists }}
    {{ errorf "The '%s' comment provider was not found." $provider }}
  {{ end }}

  {{ $commentable_page := .Params.commentable }}

  {{ if $commentable_page }}
  <aside id="comments">
    <div class="article-widget">
    <h3>Comments</h3>
    <p>As an alternative to using webmentions you may, if you prefer, leave a comment directly here:</p>
    {{ partial $provider_tpl . }}
    </div>
    </aside>
  {{ end }}
{{ end }}

