<footer class="site-footer">
  {{ with site.GetPage "privacy.md" }}
  <p class="powered-by">
    {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
  </p>
  {{ end }}

  <p class="powered-by">
    {{$baseurl := ""}}
    {{$baseurl = .Site.BaseURL }}
    {{ with site.Copyright }}<a class="h-card" rel="me"  href="{{ $baseurl }}">{{ replace . "{year}" now.Year | markdownify}}</a> &middot;{{ end }}

     <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike
    </a>

    {{ if ne .Type "docs" }}
    <span class="float-right" aria-hidden="true">
      <a href="#" id="back_to_top">
        <span class="button_icon">
          <i class="fas fa-chevron-up fa-2x"></i>
        </span>
      </a>
    </span>
    {{ end }}
  </p>
</footer>
