<div class="speaker-stack-responsive-embed" style="position:relative;display:block;width:100%;padding:0;padding-bottom:56.25%;">
    {{ if .IsNamedParams }}
    <iframe src="https://beta.speakerstack.net/presentation/{{ .Get "slug" }}/" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;border:none;">
    </iframe>
    {{ else }}
    <iframe src="https://beta.speakerstack.net/presentation/{{ .Get 0 }}/" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;border:none;">
    </iframe>
    {{ end }}
</div>